body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.ant-layout {
  min-height: 100vh;
}

.ant-btn {
  display: inline-flex !important;
  align-items: center !important;
}

.ant-layout {
  position: static !important;
}
